<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="build" content="{{ build }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Professional consulting services by Mikes Consult">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>{% block title %}Mikes Consult{% endblock %}</title>
</head>
<body data-theme="dark">
  <header>
    <h1 class="center-title">Mikes Consult</h1>
  </header>

  <main>
    <section>
      <div class="grid-container grid-3">
        {% for link in links %}
          <a href="{{ link.url }}" type="button" target="_blank" class="btn">{{ link.name }}</a>
        {% endfor %}
      </div>
    </section>
  </main>

  <footer>
    <p>Daniel MIKES</p>
  </footer>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
